*{
	padding: 0;
	margin: 0;
	font-style: normal;
  font-weight: normal;
}

body, html{
	padding: 0;
	margin: 0;
  font-size: 20px;
  background-color:black;
}


#wrapper {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.square {
  width: 2vw;
  height: 2vw;
  background-color: black;
  float: left;
  margin: 1w;
}


.square2 {
  width: 2vw;
  height: 2vw;
  background-color: white;
  float: left;
  margin: 2vw;
}


.square3 {
  width: 2vw;
  height: 2vw;
  background-color: white;
  float: left;
  margin: 1vw;
}




.whitesq {
  width: 5vw;
  height: 5vw;
  border: white solid .5px;
  opacity: .5;
  z-index: 200;
  float: left;
  margin: 1vw;
  background-color: black;

}

#wrapper2 {
  width: 70vw;
  height: 100vw;
  left: 0;
  top: 0;
}



