h1{
	color: blue;
}

body {
	background: black;
}

/* div {
	padding-bottom: 4vw;
} */

.patternUnit{
	height: 10px;
	background-color: rgb(247, 255, 171);
	border: rgb(255,0,255) solid 1px;
	width: 100vw;
	box-shadow: 2px 2px 5px white;
}

